svg.smal-icon {
  width: 16px;
  height: 16px;
}
.smal-icon {
  fill: var(--paragraf-color);
  margin-right: 10px;
}
.list-title-icon::before {
  content: '';
  background-repeat: no-repeat;
  background-color: var(--bg-additional-color);
  margin-bottom: 30px;
  display: flex;
  height: 120px;
  width: 270px;
  text-align: center;
  background-position: center;
}
